:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.img-country-tour{
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
}
.selected_tour{
    border: 1px solid #005cbf !important;
}
.tour_selected{
    display: none;
}
.card{
    opacity: 0.7;
}
.card:hover{
    opacity: 0.9;
}
.muted-color{
    color: #949596!important;
}
.not-margin-bottom{
    margin-bottom: 0 !important;
}
span.text-secondary {
    color: #6c757d!important;
}